{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<h1>TODO APP</h1>
<hr>
<form action="/" method="POST">
  <div class = 'todo-list' >
    <label>Title</label>
    <input type= "text" name = "name" class ="form-control">
    </div>
  <button class="favorite styled"
        type="submit">
    Add to list
  </button>
</form>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
        <ul style="list-style: none" >
          {% for item in ls %}
          <li> {{ item['title'] }} </li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}

